* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}
  
h4 {
    text-align: center;
    margin-top: 10px;
}
  
.table {
    margin-bottom: 20px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
  
th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
  
th {
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #b2c6d1a0;
    cursor: pointer;
}
  
.data-list {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
.data-list ul {
    list-style-type: none;
}
  
.data-list li {
    margin-bottom: 10px;
}
  
.chosen-participant {
    font-weight: bold;
    color: #4caf50;
}
#chosen-participant-title {
    color: rgb(0, 61, 89)
}
.reset-btn {
    padding: 10px 20px;
    background-color: #ccc;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.reset-btn:hover {
    background-color: #aaa;
}